<div class="contents pokemon-list-contents">
  <div class="pokemon-list">
    <div class="pokemon-list__header">
      <div class="pokemon-list__header__inner">
        <div><span class="size-20">
            Pokémon</span></div>
      </div>
    </div>
    <div class="pokemon-list__main">

      <app-banner-list></app-banner-list>

      <form class="pokemon-search">
        <div class="pokemon-search__title size-16"><span id="pokemon_search_title"
            style="font-size: 100%; visibility: visible;">Search By Name</span></div>
        <div class="pokemon-search__form">
          <div class="pokemon-search__form--input--wrapper"><input type="text" name="" value="" id="search_input"
              (change)="filterNamePokemon($event)" autocomplete="off" class="pokemon-search__form--input size-20"></div>
          <div class="pokemon-search__form--button"><img src="/assets/image/icon_magnifying_glass.png">
          </div>
        </div>
        <div class="pokemon-search__surprise" (click)="randomPokemon()"><a href="javascript:void(0)"
            class="size-18"><span>Random
              display</span></a></div> <input type="submit" class="submit">
      </form>
    </div>

    <div class="pokemon-list__sub">
      <app-search-advance [types]="types" (selectTypeEvent)="filterTypePokemon($event)"></app-search-advance>
      <div class="pokemon-list" id="pokemon-list">
        <app-pokemon-list [pokemons]="pokemonsData" (loadMore)="loadMore()"></app-pokemon-list>
        <div id="load_more" *ngIf="meta.current_page !== meta.last_page" class="pokemon-list__load-more"
          (click)="loadMore()" style="display: block;">
          <div class="pokemon-list__load-more__button size-14"><span>Load more</span></div>
        </div>
      </div>
    </div>
  </div>
</div>